Source: doi2bib3
Section: python
Priority: optional
Maintainer: Archisman Panigrahi <apandada1@gmail.com>
Build-Depends: debhelper-compat (= 10), dh-python, python3-all, python3-setuptools
Standards-Version: 4.6.0
Rules-Requires-Root: no

Package: python3-doi2bib3
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-bibtexparser
Description: Fetch BibTeX from DOI, or resolve arXiv IDs to DOI and fetch BibTeX
 A small utility and library to fetch BibTeX entries from DOIs and to resolve arXiv
 IDs to DOIs and obtain BibTeX entries for them.
